* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: sans-serif;
  background: #f4f4f4;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 16px 32px;
}

header h1 {
  font-size: 20px;
  font-weight: 600;
  color: #111;
}

main {
  max-width: 700px;
  margin: 48px auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

form input, form textarea {
  width: 100%;
  box-sizing: border-box;
}

form input[type="checkbox"] {
  width: auto;
}

#etiquetasContainer label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  max-width: 500px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 24px 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.card-info h2 {
  font-size: 16px;
  font-weight: 600;
  color: #111;
  margin-bottom: 4px;
}

.card-info p {
  font-size: 13px;
  color: #666;
}

header a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  padding: 10px 22px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  text-align: center;
  width: 160px;
}

.center {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ping-container {
  display: flex;
  justify-content: center;   /* centra horizontal */
  margin-top: 120px;         /* lo sube (ajustá este valor) */
}

#pingBtn {
  display: block;
  margin: 20px auto;
  width: 220px;              /* más grande */
  padding: 14px 28px;        /* más alto */
  font-size: 16px;           /* texto más grande */
}


.btn-register { background: #000000; color: #fff; }
.btn-login    { background: #000000; color: #fff; }
.btn-logout   { background: #000000; color: #fff; }
.btn-test     { background: #000000; color: #fff; }
.btn-delete   { background: #5c0909; color: #000000; }
.btn-volver   { background: #000000; color: #fff; }

.btn:hover { opacity: 0.88; }